*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/----cache---/
wp-content/cgi-bin/
wp-content/mobile/
wp-content/wp-snapshots/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

bak/

wp-content/plugins/custom-post-type-lockdown/CPTLockdown.php
wp-content/updraft/backup_2018-02-20-1910_Eye_Associates_d7f55cf9d433-others.zip
wp-content/updraft/backup_2018-02-20-1910_Eye_Associates_d7f55cf9d433-db.gz
db/eyeasso1_stc (3).sql
wp-content/updraft/backup_2018-02-20-1910_Eye_Associates_d7f55cf9d433-plugins.zip
wp-content/updraft/backup_2018-02-20-1910_Eye_Associates_d7f55cf9d433-themes.zip
wp-content/updraft/backup_2018-02-20-1910_Eye_Associates_d7f55cf9d433-uploads.zip
wp-content/updraft/log.d7f55cf9d433.txt
